/* 全局通用樣式 */
/* 項目通用字體樣式 */

body{
    /* 字體大小：16px
    行高：為字體的1.5倍
    字體類型：微軟雅黑 */
    font: 16px/1.5 "微軟雅黑"; /*微軟雅黑 可用中文也可用英文，都通用*/
    color: #000; /* 字體顏色 */
}

.layout{
    max-width: 1200px;
    margin: 0 auto;
}