/* 當前項目首頁用到的CSS樣式*/
.header {
    width: 100%;
    height: 758px;
    position: relative;
}
.header::before, .header-content{
    /* 因為他們都有同一個內容樣式，所以在這裡統一管理，簡化各自的 */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.header::before{
    content: "";
    display: block;
    /* width: 100%;
    height: inherit; */
    background-image: linear-gradient(to bottom, var(--primary--color),var(--white-color)); 
    opacity: 0.4;
}
/* .header-content {
    
} */
