/* 當前項目首頁用到的CSS樣式*/
.header {
    width: 100%;
    height: 758px;
    position: relative;
}
.header::before, .header-content{
    /* 因為他們都有同一個內容樣式，所以在這裡統一管理，簡化程式碼 */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.header::before{
    content: "";
    display: block;
    /* width: 100%;
    height: inherit; */
    background-image: linear-gradient(to bottom, var(--primary--color),var(--white-color)); 
    opacity: 0.4;
}
.top{
    height: 80px;
}

.top .top-content{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top .top-content ul.menu{
    display: flex;
}

/* 導航樣式 */
ul.menu li a{
    display: block;
    color: var(--font-black-color);
    font-size: 18px;
    line-height: 80px;
    padding: 0 16px 0 15px;
}
ul.menu li a:hover{
    color: var(--primary--color);
}
ul.menu li{
    position: relative;
}
/* 一級導覽hover時添加底線 */
ul.menu li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: var(--primary--color);
}
ul.menu li:hover::after{
    left: 0;
    right: 0;
    transition: all 0.3s; 
}

/* 二級下拉選單 */
ul.menu li .menu-dropdown{
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    background-color: var(--white-color);
    text-align: center;
    transform-origin: top center; /* 設定縮放的基準點 */
    transform: scaleY(0); /* 預設縮放為0 */
    transition: transform 0.3s; /* 加入過渡效果 */
    padding-top: 2px;
    padding-bottom: 8px;
}
ul.menu li .menu-dropdown dt{
    display: none;
}

ul.menu li .menu-dropdown dd{
    overflow: hidden;
}
ul.menu li .menu-dropdown dd a{
    line-height: 30px;
    padding: 0;
    position: relative;
}
ul.menu li:hover .menu-dropdown{
    transform: scaleY(1); /* 滑鼠移上去時縮放為1 */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* 加入陰影 */
}
/* 繪製二級選單左側小直線 */
ul.menu .menu-dropdown dd a::before{
    content: "";
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 10px;
    width: 2px;
    background-color: var(--primary--color);
    display: none;
}

ul.menu .menu-dropdown dd:hover{
    transform: translateX(10px); 
    transition: all 0.5s;
}

ul.menu .menu-dropdown dd:hover a::before{
    display: block; 
}

.sticky{
    background-color: var(--white-color);
    box-shadow: 0 2px 5px var(--border-dark-grey-color);
    position: fixed;
    top: 0;
    width: 100%;
    /* 在頁面頂部時導航列預設為透明，當頁面滾動時才有吸頂並背景為白色的效果。
    因此，在這邊加上animation動畫來實現*/
    animation: sticky-animation 0.5s linear both; /* both:動畫結束後保持最後一幀的狀態 */
} 

@keyframes sticky-animation{
    0%{ 
        opacity: 0; /* 隱藏 */
        transform: translateY(-100%); /* 向上移動自身高度 */
    }

    100%{
        opacity: 1; /* 顯示 */
        transform: translateY(0); /* 回到原本位置 */
    }
}

/* 欄目小圖標 */
.nav-button{
    width: 34px;
    height: 26px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}
.nav-button .fa-bars{
    font-size: 34px;
}

/* 黑色半透明遮罩層樣式 */
.mask{
    display: none;  /*預設隱藏 */
    position: fixed; /* 固定定位 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5); /* 黑色半透明 */
    z-index: 99;  /*確保遮罩層在其他內容上面 */
}

/* 垂直導航樣式 */
nav.mobile-nav{
    width: 320px;
    position: fixed; /* 固定定位 */
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* 黑色半透明 */
    z-index: 100;  /*確保垂直導航在遮罩層上面 */
    display: none;

}
/* 關閉按鈕的樣式 */
nav.mobile-nav .fa-circle-xmark{
    position: absolute; /* 絕對定位 */
    top: 20px;
    right: 20px;
    font-size: 34px;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 1; /* 讓文字垂直置中 */
    color: white;
    cursor: pointer; /* 滑鼠變手指 */
}
.nav-list{
    padding-top: 100px;
    margin: 0 30px;
}
.nav-list li{
    height: 48px;
    overflow: hidden; /* 超出部分隱藏 */
    transition: all 0.3s; /* 過渡效果 */
    cursor: pointer; /* 滑鼠變手指 */
}
.nav-list li h3, .nav-list li a{
    display: block;
    font-size: 24px;
    margin-bottom: 16px;
    color: white;
    font-weight: 400;
}
/* 箭頭樣式 */
.nav-list li h3 .fa-angle-right{
    float: right; 
    font-size: 28px;
    line-height: 1; 
}
.nav-list li h3 .fa-angle-right.arrow-down{
    transform: rotate(90deg); /* 旋轉90度 */
}
/* 移動端二級導航樣式 */
.mobile-nav .menu-dropdown dt{
    display: none; /* 隱藏二級選單標題 */
}
.mobile-nav .menu-dropdown dd a{
    display: block;
    height: 48px;
    line-height: 48px;
    text-indent: 60px; /*文字縮排*/
    
    margin-bottom: 0;
}
.mobile-nav .menu-dropdown{
    padding-bottom: 12px;
}
.mobile-nav .menu-dropdown dd a:hover{
    background-color: var(--primary--color); 
    transition: all 0.2s; 
}