@media screen and (max-width: 1200px) {
    .logo{
        margin-left: 25px;
    }
    
}

@media screen and (max-width: 992px) {
    .top nav.nav{
        display: none;
    }
    .top .nav-button{
        display: block;
    }
}